@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
.font {
    font-family: "Arial Black", Gadget, sans-serif;
    color: rgb(131, 131, 131);
    position: relative;
}

.background {
    background-color: rgb(22, 22, 22);
    -webkit-font-smoothing: antialiased;
}

option {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.caja {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background: #030303;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 2px solid #030303;
}

@media only screen and (min-width: 300px) {
    .txt {
        font-size: 14px;
    }
    .chart-container {
        height: 55vh;
        width: 60vw;
    }
    .font {
        font-size: 16px;
    }
}

@media only screen and (min-width: 350px) {
    .txt {
        font-size: 14px;
    }
    .chart-container {
        height: 55vh;
        width: 60vw;
    }
    .font {
        font-size: 20px;
    }
    .caja {
        font-size: 12px;
    }
}

@media only screen and (min-width: 650px) {
    .txt {
        font-size: 14px;
    }
    .chart-container {
        height: 55vh;
        width: 60vw;
    }
    .font {
        font-size: 23px;
    }
    .caja {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) {
    .txt {
        font-size: 16px;
    }
    .chart-container {
        height: 70vh;
        width: 70vw;
    }
    .font {
        font-size: 27px;
    }
    .caja {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1080px) {
    .txt {
        font-size: 18px;
    }
    .font {
        font-size: 30px;
    }
    .chart-container {
        height: 70vh;
        width: 70vw;
    }
}

.imagen {
    height: 15px;
    width: 15px;
}

.carta {
    background-color: #322f30 !important;
}

.orange {
    color: rgb(255, 145, 0);
}

.wheat {
    color: wheat;
}