@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);



.font{
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 29px;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 2px;
  color:rgb(131, 131, 131);
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  position: relative;
  }

  
  @media only screen and (min-width: 300px){
    .font{
      font-size: 16px;
    }
  }
  @media only screen and (min-width: 530px){
    .font{
      font-size: 20px;
    }
  }
  @media only screen and (min-width: 650px){
    .font{
      font-size: 23px;
    }
  }
  
  @media only screen and (min-width: 768px){
    .font{
      font-size: 27px;
    }
  }
  @media only screen and (min-width: 1080px){
    .font{
      font-size: 30px;
    }
  }

.background {
background-color: rgb(22, 22, 22);
-webkit-font-smoothing: antialiased;

}

.select {

  border-radius: 5px 5px 5px 5px; 
  outline: none;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
}

select :focus{
  border-radius: 10px 10px 10px 10px;
}




option{
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial", sans-serif;
}
  


.caja { 
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: #ffffff; 
  font-size: 18px; 
  font-weight: 400; 
  text-align: center; 
  background: #030303; 
  margin: 0 0 25px; 
  overflow: hidden; 
  padding: 20px; 
  border-radius: 35px 35px 35px 35px; 
  -moz-border-radius: 35px 35px 35px 35px; 
  -webkit-border-radius: 35px 35px 35px 35px; 
  border: 2px solid #030303;
}

@media only screen and (min-width: 300px){
  .caja{
    
    font-size: 10px;
  }
}

@media only screen and (min-width: 350px){
  .caja{
    
    font-size: 12px;
  }
}

@media only screen and (min-width: 450px){
  .caja{
    
    font-size: 18px;
  }
}




.txt {
  color: rgb(112, 112, 112);
  font-size: 18px;
  text-align: center;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}


@media only screen and (min-width: 300px){
  .txt{
    font-size: 8px;
  }
}
@media only screen and (min-width: 350px){
  .txt{
    font-size: 12px;
  }
}
@media only screen and (min-width: 650px){
  .txt{
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px){
  .txt{
    font-size: 16px;
  }
}
@media only screen and (min-width: 1080px){
  .txt{
    font-size: 18px;
  }
}

.imagen{
  height: 15px;
  width: 15px;
}

.tablaResultado {
 
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}

@media only screen and (min-width: 300px){
  .tablaResultado{
    
    font-size: 10px;
  }
}

@media only screen and (min-width: 350px){
  .tablaResultado{
    
    font-size: 12px;
  }
}

@media only screen and (min-width: 450px){
  .tablaResultado{
    
    font-size: 14px;
  }
}

@media only screen and (min-width: 720px){
  .tablaResultado{
    
    font-size: 18px;
  }
}

.columna{
  padding: 8px;
}


.fila {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: black;
  background-color: darkgray;
}



.encabezado {
  background-color: rgb(58, 58, 58);
  text-align: center;
  color: white;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  width: 20%;
 
}

.carta{
  background-color: #322f30;
}

.skull{
  color: red;
}
.txtDeaths{
  color: red;
}
.plus{
  color: rgb(112, 168, 0);;
}
.txtRecovered{
  color: rgb(112, 168, 0);;
}

.biohazard{
  color: #ffc107;
}

.txtConfirmed{
  color: #ffc107;
}

.heartbeat{
  color: rgb(255, 145, 0);
}

.txtCritical{
  color: rgb(255, 145, 0);
}

.head-side-cough{
  color: wheat;
}

.txtActive{
  color: wheat;
}

.info{
  color: #17a2b8;
}

.txtTests{
  color: #17a2b8;
}